<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Faites le test ultime et découvrez qui vous êtes vraiment !">
    <meta name="author" content="">
    <title>Le test ultime !</title>

    <meta property="og:title" content="Le test ultime !" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://le-test-ultime.hello-birds.com/index.html&img=/tmp/111823112767411.jpg" />
    <meta property="og:image" content="https://le-test-ultime.hello-birds.com/tmp/111823112767411.jpg" />
    <meta property="og:description" content="Faites le test ultime et découvrez qui vous êtes vraiment !" />
    <meta name="fb:app_id" content="{{ fb_app_id }}">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="static/css/freelancer-theme.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/custom.css">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/470b91f216.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="static/js/jquery/jquery.min.js" charset="utf-8"></script>

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Contenu principal</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                  <a class="navbar-brand" href="/">Voici qui je suis vraiment !</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <div class="card">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-3">
                      <img class="img-responsive img-circle user_profile" src="static/tmp/cover_111823112767411.jpg" id="user_image">
                  </div>
                  <div class="col-sm-3">
                    <h2 id="user_name">Tom</h2>
                  </div>
                  <div class="col-sm-12">
                    <p id="description">Toi, tu n'as pas peur d'être seul ! Les grands espaces et les aventures sont faits pour toi. D'ailleurs, Koh Lanta est ton émission préférée ! Bientôt tu partiras les cheveux au vent sur ton radeau. Tu es aussi un idéaliste chevronné. Quelle chance ! </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a class="btn btn-lg btn-outline big-button facebook_button" id="FbShare">
                  Partager sur Facebook
              </a>
          </div>

        </div>

      </div>
    </header>

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '471988476990314',
          cookie     : true,  // enable cookies to allow the server to access
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.8' // use graph api version 2.8
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId=471988476990314";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      $('#FbShare').click(function(){
        FB.ui({
          method: 'share',
          href: '{{ og_url }}'
        }, function(response){});
      });
    </script>
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="https://github.com/celine-m-s/flask_test_app" class="btn-social btn-outline" target="_blank"><span class="sr-only">Github</span><i class="fa fa-fw fa-github"></i></a>
                        <hr class="star-light">
                        <span class="italic">Copyright &copy; Céline Martinet Sanchez pour <a href="https://www.openclassrooms.com" target="_blank">OpenClassrooms</a></span>
                        <p style="font-style:italic; font-size: 14px;"><a href="https://startbootstrap.com/template-overviews/freelancer/">Thème de StartBootstrap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/freelancer-theme.min.js" charset="utf-8"></script>

</body>

</html>
